@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: 'inter';
    margin: 0;
    padding: 0;
}

:root {
    --Gray: #a2a2a2;
    --border: #262626;
    --background: #08090a;
}


body {
    background-color: var(--background);
}

main {
    width: 100vw;
    height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Box-Replace {
    border-radius: 8px;
    max-width: 500px;
    background-color: transparent;
    outline: 1px solid var(--border);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px;

}

.Insert-Text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Insert-Text h1{
    font-size: 16px;
    color: white;
    letter-spacing: -0.025em;
    font-weight: 600;
}

.Insert-Text textarea {
    background-color: transparent;
    border-radius: 4px;
    border: none;
    /* outline: 1px solid var(--border); */
    height: 200px;
    color: white;
    font-size: 14px;
    resize: vertical;
    margin-left: -6px;
    padding: 8px 8px;
}

.Insert-Text textarea:focus {
    border: none;
    outline: none;
}

.Replace-Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
}

.Replace-Section div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.Replace-Section div:nth-child(1) p {
    font-size: 14px;
    color: white;
    font-weight: 600;
    letter-spacing: -0.025em;
}
.Replace-Section div:nth-child(1) input {
    width: 180px;
    font-size: 14px;
    color: white;
    padding: 8px 8px;
    background-color: transparent;
    outline: 1px solid var(--border);
    border: none;
    border-radius: 4px;
    /* margin-left: -10px; */
}



.Replace-Section div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 12px;
    /* margin-top: 16px; */
}

.Replace-Section div:nth-child(2) p {
    font-size: 14px;
    color: white;
    font-weight: 600;
    letter-spacing: -0.025em;
}
.Replace-Section div:nth-child(2) input {
    width: 170px;
    font-size: 14px;
    color: white;
    padding: 8px 8px;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--border);
    border-radius: 4px;
    /* margin-left: -10px; */
}

#DeleteIt {
    padding: 8px;
    background-color: transparent;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

#Button {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--border);
    border: none;
    border-radius: 4px;
    color: white;
    letter-spacing: -0.025em;
    cursor: pointer;

}

#CopyBtn {
    font-size: 12px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}